* {
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'open_sans';
  src: url('../fonts/open_sans/opensans-webfont.eot');
  src: url('../fonts/open_sans/opensans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open_sans/opensans-webfont.woff2') format('woff2'), url('../fonts/open_sans/opensans-webfont.woff') format('woff'), url('../fonts/open_sans/opensans-webfont.ttf') format('truetype'), url('../fonts/open_sans/opensans-webfont.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
#wrapper {
	width: 100%;
}
#content {
	width: 960px;
	margin: 0 auto;
}
#content h1, h2 {
	text-align: center;
	font-family: open_sans;
}
.pure-form {
	padding-top: 50px;
	margin: 0 auto;
	width: 400px;
	text-align: center;
}
#formulario {
	margin-top: 16px;
	width: 545px;
	min-height: 390px;
	background-color: #ccc;
	margin: 16px auto;
	border-radius: 20px;
}

input {
	margin: 0 auto !important;
	width: 350px;
}

select {
	margin-right: 234px !important;
}

section#wrapper_payment {
	width: 100%;
}

div#content_payment {
	margin: 0 auto;
	width: 960px;
}

div#content_payment h1 {
	text-align: center;
}

div#content_payment p{
	margin-bottom: 30px;
}

div#content_payment p span {
	display: block;
	margin-bottom: 30px;
}

div#content_payment ul {
	list-style-type: none;
	margin-bottom: 30px;
}

div#content_payment ul li {
	display: list-item;
	margin-bottom: 10px;
}

div#content_payment ul li p {
	margin-bottom: 0px;
}

div#content_payment ul li p span {
	display: inline;
	font-weight: bold;
}

div#sponsors {
	margin: 0 auto;
	width: 570px;
}

div#sponsors h2 {
	text-align: center;
	margin-bottom: 30px;
}

div#sponsors ul li {
	margin-right: 20px;
}

div#sponsors ul li:last-child {
	margin-right: 0px;
}