* {
	margin: 0;
	padding: 0;
}

html {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e819e+0,4392b3+100 */
background: #3e819e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNlODE5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzkyYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #3e819e 0%, #4392b3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e819e), color-stop(100%,#4392b3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3e819e 0%,#4392b3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3e819e 0%,#4392b3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3e819e 0%,#4392b3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3e819e 0%,#4392b3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e819e', endColorstr='#4392b3',GradientType=0 ); /* IE6-8 */

	height: 100%;
}
@font-face {
  font-family: 'open_sans';
  src: url('../fonts/open_sans/opensans-webfont.eot');
  src: url('../fonts/open_sans/opensans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open_sans/opensans-webfont.woff2') format('woff2'), url('../fonts/open_sans/opensans-webfont.woff') format('woff'), url('../fonts/open_sans/opensans-webfont.ttf') format('truetype'), url('../fonts/open_sans/opensans-webfont.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand/quicksand-light-webfont.eot');
    src: url('../fonts/quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-light-webfont.woff') format('woff'),
         url('../fonts/quicksand/quicksand-light-webfont.ttf') format('truetype'),
         url('../fonts/quicksand/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
#wrapper {
	width: 100%;
}
#content {
	width: 960px;
	margin: 0 auto;
}
h1, h2, h3, h4, h5{
	text-align: center;
	font-family: quicksandlight;
	color: #fff;
}
.pure-form {
	padding-top: 50px;
	margin: 0 auto;
	width: 400px;
	text-align: center;
}
#formulario {
	margin-top: 16px;
	width: 490px;
	min-height: 390px;
	background-color: #fff;
	margin: 16px auto;
	border-radius: 20px;
}
#line {
	margin-top: 15px;
	width: 490px;
	background-color: #f9f9f9;
	border-radius: 0 0 20px 20px;
	line-height: 20px;
	text-align: center;
}
#line h5 {
	color: #000;
}
input {
	margin: 0 auto 5px !important;
	width: 350px;
}

button {
	width: 350px;
	margin-bottom: 20px;
}

select {
	margin: 0 158px 5px 0 !important;
}

a#recovery_by_email {
	color: #0078e7;
}