{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Python Beach</title>
	<link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
	<link rel="stylesheet" href="{% static 'css/payment.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<section id="wrapper_payment">
	<div id="content_payment">
		<h1>III Python Beach</h1>
		<p>
			<span>{{ enroll }},</span>

			Gostaríamos de lhe parabenizar por estar fazendo parte da realização deste evento. Python Beach nasceu no intuito de ser uma porta de entrada para todos que querem não só aprender, mas também compartilhar conhecimento.
			Mais abaixo, você encontrará suas informações e outras adicionais.
		</p>
		<ul>
			<li>
				<p>
					<span>Nome</span>: {{ enroll }}
				</p>
			</li>
			<li>
				<p>
					<span>Email</span>: {{ enroll.email }}
				</p>
			</li>
			<li>
				<p>
					<span>Cidade</span>: {{ enroll.city }}
				</p>
			</li>
			<li>
				<p>
					<span>Instituição</span>: {{ enroll.institution }}
				</p>
			</li>
			<li>
				<p>
					<span>Local do pagamento</span>: Faculdade Maurício de Nassau - Campus Parnaíba.
				</p>
			</li>
			<li>
				<p>
					<span>Valor</span>: R$ 10,00. (<em>Pago presencialmente</em>).
				</p>
			</li>
		</ul>
		<p>
		O pagamento deve ser realizado na Faculdade Maurício de Nassau. Procurar o coordenador do curso de Sistemas de Informação, Rodrigo Baluz. 
		</p>
		<p>
			Guarde consigo o comprovante contendo a assinatura da coordenação (<em>logo abaixo</em>), que comprova o seu pagamento. Você terá direito a receber um certificado de 20h, expedido pela Faculdade Maurício de Nassau.
		</p>
		<div id="signature">
			<div class="assign">
				<p>____________________________________</p>
				<span>Coordenação</span>
			</div>
			<div class="assign">
				<p>____________________________________</p>
				<span>Participante</span>
			</div>
		</div>
		<button class="myButton" onclick="printPage()">Imprimir comprovante</button>
		<p>
			Para mais informações, entre em <a href="mailto:pmazulo@gmail.com">contato</a>.
		</p>
		<p>
			<a href="{% url 'core:index' %}">Página inicial</a>.
		</p>
	</div>
	<div id="sponsors">
		<h2>Realização</h2>
		<ul>
			<li>
				<a href="http://www.mauriciodenassau.edu.br/estrutura/exibir/col/21/fil/1/eid/1/piaui_parnaiba_fap_">
					<img src="{% static 'img/logo_nassau.jpg' %}" alt="Faculdade Maurício de Nassau">
				</a>
			</li>
			<li>
				<a href="http://www.indacode.com">
					<img src="{% static 'img/logo_indacode.png' %}" alt="Indacode">
				</a>
			</li>
		</ul>
	</div>
<script src="{% static 'js/main.js' %}"></script>
</section>
</body>
</html>